<div class="card shadow">
  <img [src]="miUsuario.image" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{miUsuario.first_name}} {{miUsuario.last_name}}</h5>
    <div class="d-flex g-1">
      <button [routerLink]="['/user', miUsuario._id]" class="btn btn-outline-dark me-1"><i class="fa-solid fa-magnifying-glass"></i> Detalle</button>
      <button [routerLink]="['/updateuser', miUsuario._id]" class="btn btn-outline-dark me-1"><i class="fa-solid fa-rotate"></i> Actualizar</button>
      <button class="btn btn-outline-dark me-1" (click)="delete(miUsuario._id)"><i class="fa-solid fa-trash-can"></i> Borrar</button>
    </div>
  </div>
</div>
