<div class="card">
  <img src="" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Nombre Usuario Completo</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex g-1">

      <a href="#" class="btn me-1"><i class="fa-solid fa-magnifying-glass"></i> Detalle</a>

      <a href="#" class="btn me-1"><i class="fa-solid fa-rotate"></i> Actualizar</a>

      <a href="#" class="btn me-1"><i class="fa-solid fa-trash-can"></i> Borrar</a>
    </div>
  </div>
</div>
