<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="assets/images/logo.png" alt="Logotipo">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>
            <!-- TODO: ELIMINAR LA CLASE ACTIVE -->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['newuser']" [routerLinkActive]="['active']">Nuevo Usuario</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
